/*----------------------------------------------------------
      TABLE OF CONTENTS
-----------------------------------------------------------*/

/*
1. Navbar
2. Inner content
*/

html {
  /* font-size: 18px; */
  font: 400 18px Arial
}

i{
  color: #909090;
}

/*====================================
      NAVBAR
========================================*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
  background: rgba(255, 255, 255, 0.98);
  overflow:hidden;
  position: fixed;
  /* top: 0; */
  width: 96%
}

.logo img {
  height: 40px;
}

.icons img {
  height: 40px;
}

.logo {
  padding-left: 5px;
}

.icons i,
.nav-avatar {
  padding-left: 10px;
}

.search {
  width: 70%;
  text-align: center;
  padding-top: 10px;
  display: inline-block;
}

.search input {
  width: 70%;
  padding-right: 0;
  margin-right: 0;

}

.search button{
  margin-left: -5px;
  width: 65px;

}

/*=============================================
      INNER CONTENT
==============================================*/
.inner {
  display: flex;
  justify-content: center;
  padding: 55px 0 0 0;
  background: #f9f9f9
}

/*------------------------------
    TWO THIRDS
--------------------------*/
.two-thirds {
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.video-title {
  font-size: 30px;
  padding: 20px 0;
}

.show-buttons {
  display: flex;
  justify-content: space-around;
}

iframe {
  width: 100%
}

.avatar img {
  width: 60px;
  height: 60px;
}

.flex {
  display: flex;
}

.likes-dislikes {
  display: flex;
}

.likes,
.dislikes, .shares {
  padding: 0px 10px;
  color: #909090;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.views {
  width: 80%;
  color: #909090;
}

.avatar-subscribe {
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: flex;
}

.avatar p {
  padding: 20px 0 0 10px;
}

.subscribe-btn button {
  background: #cc0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
}

/*--------------------------------
    THUMBNAILS
----------------------------------*/

.one-third {
  width: 400px;
  /* display: block; */
  pa
}

.thumbnail-image img {
  width: 50%;
  float: left;
  padding-left: 20px;
}

.thumbnails {
  overflow: hidden;
  width: 100%;
  padding: 15px;
}

.thumbnail-title {
  overflow: hidden;
  padding-left: 15px;
}

.thumbnail-title h4 {
  font-weight: bold;
}

.thumbnail-title p {
  color: #909090;
  font-size: 15px;
  padding-top: 7px;
}
